.PieChart{
        margin-left: 30dvw;
        width: 400px;
        height: 400px;
        /* background: linear-gradient(to bottom, #1077A3, #00090E); */
        padding: 2%;
        border-radius: 10px 40px;   
}