/* .PieChart{ */
        /* margin-left:0%;
        width: 400px;
        height: 400px;
        background: linear-gradient(to bottom, #1077A3, #00090E);
        padding: 0%;
        border-radius: 10px 40px;    */
/* } */

.PieChart{
        margin: 0%;
        width: 600px;
        height: 400px;
        /* padding: 5%; */
        /* background: linear-gradient(to bottom, #1077A3, #00090E); */
        /* padding: 5%; */
        /* border-style: dashed;
        color: rgb(7, 201, 17); */
}
      