@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.dashboard-container {
    width: 100%;
    height: 100%;
}

.dashboard-logo-img {
    display: block;
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-top: 7.75%;
    margin-left: 15%;
}

.dashboard-left-pane {
    /* border-style: dashed;
    border-color: aquamarine; */
    box-sizing: border-box;
    position: absolute;
    width: 20%;
    height: 100%;
    background: radial-gradient(113.94% 113.94% at 50.06% -13.94%, #1077A3 17.04%, #00090E 100%);
}


.dashboard-left-pane .Navigation_Entities {
    margin: 10%;
    margin-right: 20%;
}

.dashboard-left-pane .Navigation_Entities .text {
    margin-top: 15%;
    width: 100%;
    border-width: 0 0 0 5px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.3s;
    /* Add transition for smooth effect */
}

.dashboard-left-pane .Navigation_Entities .text:hover {
    /* border-style: dotted; */
    border-color: white;
    cursor: pointer;
}

.dashboard-left-pane .Navigation_Entities .text .h4 {
    position: relative;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: left;
    color: hsl(0, 0%, 100%);
}

.dashboard-left-pane .ButtonContainer {
    margin-top: 50%;
}

.dashboard-left-pane .ButtonContainer .logout-button {
    font-family: 'Raleway', sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    margin-left: 5%;

    border-width: 0 0 0 5px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.3s;
}

.dashboard-left-pane .ButtonContainer :hover {
    color: #ff0000;
    border-color: white;
}



.dashboard-right-pane {
    /* border-style: dashed;
    border-color: crimson; */
    box-sizing: border-box;
    position: absolute;
    width: 80%;
    height: 100%;
    margin-left: 20%;
}

.dashboard-right-pane .text {
    height: 10%;
    /* border-style: dashed;
    border-color: rgb(207, 53, 53); */
    text-align: left;
}


.dashboard-right-pane .text h1 {
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
}


.dashboard-right-pane .MainContainer{
    /* border-style: dashed; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-right-pane .MainContainer .BarChart{
    margin-left: 5%;
    margin-top: 2%;
    width: 40%;
    height: 80%;
    border-radius: 2%;
    place-items: center;

    /* border-style: groove;
    box-shadow: #00090E; */
    /* background: radial-gradient(113.94% 113.94% at 50.06% -13.94%, #1077A3 17.04%, #00090E 100%); */
    
}
.dashboard-right-pane .MainContainer .TempImg {
    /* display: block; */
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-left: 200px;
}

@media screen and (max-width: 500px) {
    .dashboard-container {
        width: 100px;
    }

    .dashboard-left-pane {
        flex: 40%;
        flex-direction: row;
    }

    .dashboard-right-pane {
        flex: 60%;
        flex-direction: row;
    }

    .dashboard-left-pane h1 {
        /* Welcom Back */
        font-weight: 650;
        font-size: 20px;
        line-height: 50px;
    }
}