@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* Styles for the popup overlay */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

/* Styles for the form inside the popup */
/* .popup form {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
} */

/* Style for form elements */
/* .popup form select,
.popup form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

/* Style for buttons */
/* .popup form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
} */

/* Additional style for the submit button */
/* .popup form button[type="submit"] {
    background-color: #4caf50;
    color: white;
} */

/* Additional style for the close button */
/* .popup form button:not([type="submit"]) {
    background-color: #f44336;
    color: white;
} */

/* Hover effect for buttons */
/* .popup form button:hover {
    opacity: 0.8;
} */

.upload-card {
    width: 50%; /* Increased width */
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #d9d9d9;
    margin: 20px auto; /* Center the card */
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-top: 25px;
}

.upload-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.upload-header h1 {
    font-size: 1.5em;
    color: #333;
}

.close-button {
    border: none;
    background: black;
    font-size: 1.1em;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #f3f3f3;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-columns {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    flex: 1;
}

.right-column {
    padding-left: 20px; /* Add some space between columns */
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 100%; /* Make sure selects fill their containers */
    background-color: #a3bfca;
    padding-right: 50px;

    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

/* select option {
} */

select:focus {
    background-color: #88cbe6;
    background-image: linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

.file-upload {
    border: 2px dashed #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    height: 130px; /* Optional: Adjust height as needed */
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    display: block;
    cursor: pointer;
}

.submit-button-container {
    text-align: center; /* Center the button */
    margin-top: 20px; /* Add some space above the button */
}

input[type="submit"] {
    padding: 10px 20px; /* Adjust padding if needed */
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 25%;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.file-upload.drag-over {
    background-color: #e9e9e9; /* Change color on drag over */
}

#file-list p {
    margin: 5px 0;
    font-size: 0.9em;
}

.progress-bar-container {
    width: 100%;
    background-color: #e1e1e1;
    border-radius: 4px;
    margin-top: 10px; /* Add some space above the progress bar */
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
    width: 0%;
    border-radius: 4px;
    transition: width 0.4s ease;
}

#upload-icon {
    font-size: 48px; /* Adjust size as needed */
    text-align: center;
    margin: 10px 0;
}

.file-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    background: #f3f3f3;
    border-radius: 4px;
    padding: 5px;
}

.remove-file {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
}
