@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.EvidenceTasks-container {
    width: 100%;
}

.EvidenceTasks-logo-img {

    display: block;

    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-top: 7.75%;
    margin-left: 15%;
}

.EvidenceTasks-left-pane {
    /* border-style: dashed;
    border-color: aquamarine; */
    box-sizing: border-box;
    position: absolute;
    width: 20%;
    height: 100%;
    background: radial-gradient(113.94% 113.94% at 50.06% -13.94%, #1077A3 17.04%, #00090E 100%);
}


.EvidenceTasks-left-pane .Navigation_Entities {
    margin: 10%;
    margin-right: 20%;
}

.EvidenceTasks-left-pane .Navigation_Entities .text {
    margin-top: 15%;
    width: 100%;
    border-width: 0 0 0 5px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.3s;
    /* Add transition for smooth effect */
}

.EvidenceTasks-left-pane .Navigation_Entities .text:hover {
    /* border-style: dotted; */
    border-color: white;
    cursor: pointer;
}

.EvidenceTasks-left-pane .Navigation_Entities .text .h4 {
    position: relative;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: left;
    color: hsl(0, 0%, 100%);
}

.EvidenceTasks-left-pane .ButtonContainer {
    margin-top: 50%;
}

.EvidenceTasks-left-pane .ButtonContainer .logout-button {
    font-family: 'Raleway', sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    margin-left: 5%;

    border-width: 0 0 0 5px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.3s;
}

.EvidenceTasks-left-pane .ButtonContainer :hover {
    color: #ff0000;
    border-color: white;
}






.EvidenceTasks-right-pane {
    /* border-style: dashed;
    border-color: crimson; */

    box-sizing: border-box;
    position: absolute;
    width: 80%;
    height: 100%;
    margin-left: 20%;
}

.EvidenceTasks-right-pane .text {
    /* border-style: dashed; */
    /* border-color: rgb(0, 0, 0); */
    text-align: left;
}


.EvidenceTasks-right-pane .text h1 {
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
}




.EvidenceTasks-right-pane .TempImg {

    display: block;

    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
}




@media screen and (max-width: 500px) {
    .EvidenceTasks-container {
        width: 100px;
    }

    .EvidenceTasks-left-pane {
        flex: 40%;
        flex-direction: row;
    }

    .EvidenceTasks-right-pane {
        flex: 60%;
        flex-direction: row;
    }

    .EvidenceTasks-left-pane h1 {
        /* Welcom Back */
        font-weight: 650;
        font-size: 20px;
        line-height: 50px;
    }
}