.Navigation_Entities {
  margin: 10%;
  margin-right: 20%;
}

.Navigation_Entities .text {
  margin-top: 15%;
  width: 100%;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: transparent;
  transition: border-color 0.3s; /* Add transition for smooth effect */
}

.Navigation_Entities:hover .text {
  border-color: white; /* Change border color on hover */
}

.Navigation_Entities .text .h4 {
  position: relative;
  margin-left: 5%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: left;
  color: hsl(0, 0%, 100%);
}
